@import "./layout.scss";

@mixin btn($fontSize:24px,$color:#fff,$bgColor:#F04752,$height:56px,$radius:4px){
	font-size: $fontSize;
	color: $color;
	background-color:$bgColor;
	height: $height;
	line-height: $height;
	border-radius:$radius;
	text-align: center;
}

@mixin list($direction: column) {
	@include flex($direction);
}

@mixin panel(
	$bacolor: #fff,
	$padding: 0,
	$margin: 20px 0,
	$height: 112px,
	$textPadding: 0 32px,
	$color: #333,
	$fontSize: 32px
	) {
	background: $bgcolor;
	padding: $paddng;
	margin: $margin;
	>h4 {
		height: $height;
		line-height: $height;
		padding: $textPadding;
		text-decoration: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-align: center;
		color: $color;
		font-size: $fontSize;
	}
}